HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/src/main/resources/application.properties
/src/main/ui/node_modules
/src/main/ui/.pnp
/src/main/ui/.pnp.js
/src/main/ui/coverage
/src/main/ui/build
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
